<!-- FOOTER -->
			<footer id="footer">
				<div class="container">

					<div class="row">

						<!-- col #1 -->
						<div class="logo_footer dark col-md-3">

							<img alt="" src="assets/images/logo_footer.png" class="logo" />

							<p class="block">
								2TR Football Limited<br />
								25 Bertram Street<br />
								London, N19 5DQ<br />
								Email: info@2trfootball.com<br />
								Phone: 020 7272 7201<br />
							</p>

							<p class="block"><!-- social -->
								<a href="https://www.facebook.com/2TRFootball" class="social fa fa-facebook"></a>
								<a href="https://twitter.com/2TRFootball" class="social fa fa-twitter"></a>
								<a href="https://www.youtube.com/user/2TRFootball" class="social fa fa-youtube-square"></a>
							</p><!-- /social -->
						</div>
						<!-- /col #1 -->

						
						<!-- /col #2 REMOVED -->
						
						
						<!-- col #3 -->
						<div class="spaced col-md-6 col-sm-8 hidden-xs">
							<div class="footerWidget">
								<h3>Latest <strong>tweets</strong> </h3>
								<div id="twitterFrame">
									<a class="twitter-timeline" height="250" href="https://twitter.com/2TRFootball" data-widget-id="531082954617806848" data-tweet-limit="2" data-theme="dark" data-chrome="nofooter noheader transparent">
										Tweets by @2TRFootball
									</a>
									<script>
										!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
									</script>
								</div>
							</div>
						</div>
						<!-- /col #3 -->

						<!-- col #4 -->
						<div class="spaced col-md-3 col-sm-4">
							<h4>About <strong>Us</strong></h4>
							<p>
								Specially crafted sports development franchise based in London, UK.
							</p>

							<h4><small><strong>Subscribe to our Newsletter</strong></small></h4>
							<form id="newsletterSubscribe" method="post" action="php/newsletter.php" class="input-group">
								<input required type="email" class="form-control" name="newsletter_email" id="newsletter_email" value="" placeholder="E-mail Address">
								<span class="input-group-btn">
									<button class="btn btn-primary">SUBMIT</button>
								</span>
							</form>

						</div>
						<!-- /col #4 -->

					</div>

				</div>

				<hr />

				<div class="copyright">
					<div class="container text-center fsize12">
						Design by <a class="copyright">stepofweb</a> &bull; Developed by Walnut Web Solutions ltd &bull; All Right Reserved &copy; 2TR Football ltd &nbsp;
						<a href="page-privacy.html" class="fsize11">Privacy Policy</a> &bull; 
						<a href="page-terms.html" class="fsize11">Terms of Service</a>
					</div>
				</div>
			</footer>
			<!-- /FOOTER -->

			<a href="#" id="toTop"></a>

		</div><!-- /#wrapper -->

		<!-- JAVASCRIPT FILES -->
		<script type="text/javascript" src="assets/plugins/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="assets/plugins/jquery.isotope.js"></script>
		<script type="text/javascript" src="assets/plugins/masonry.js"></script>
		<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.slick/1.3.15/slick.min.js"></script>

		<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script type="text/javascript" src="assets/plugins/owl-carousel/owl.carousel.min.js"></script>
		<script type="text/javascript" src="assets/plugins/knob/js/jquery.knob.js"></script>
		<script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>

		<!-- REVOLUTION SLIDER -->
		<script type="text/javascript" src="assets/plugins/revolution-slider/js/jquery.themepunch.plugins.min.js"></script>
		<script type="text/javascript" src="assets/plugins/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
		<script type="text/javascript" src="assets/js/revolution_slider.js"></script>
		

		<script type="text/javascript" src="assets/js/scripts.js"></script>
		<script type="text/javascript">
        $(document).ready(function(){
            $('.single-item').slick();
			$(".nav-main").load("nav.html");
		});
      
	$(document).ready(function() {
	var url = window.location.href;

			// Will only work if string in href matches with location
			$('a[href="'+ url +'"]').addClass('active');

			// Will also work for relative and absolute hrefs
			$('a').filter(function() {
				return this.href == url;
			}).parent('li').addClass('active');
			});
			</script>
		</script>