<div id="header"><!-- class="sticky" for sticky menu -->

				<!-- Top Bar -->
				<header id="topBar">
					<div class="container">

						<div class="pull-right fsize13 margin-top10 hide_mobile">

							<!-- mail , phone -->
							<a href="mailto:info@2trfootball.com">info@2trfootball.com</a> &bull; 020 7272 7201

							<div class="block text-right"><!-- social -->
								<a href="https://www.facebook.com/2TRFootball" class="social fa fa-facebook"></a>
								<a href="https://twitter.com/2TRFootball" class="social fa fa-twitter"></a>
								<a href="https://www.youtube.com/user/2TRFootball" class="social fa fa-youtube-square"></a>
							</div><!-- /social -->

						</div>

						<!-- Logo -->
						<a style="margin: 0" class="logo" href="index.html">
							<img src="assets/images/logo.png" height="80" alt="" />
						</a>

					</div><!-- /.container -->
				</header>
				<!-- /Top Bar -->


				<!-- Top Nav -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Search -->
						<form class="search" method="get" action="search.html">
							<input type="text" class="form-control" name="s" value="" placeholder="Subscribe">
							<button class="fa fa-envelope"></button>
						</form>
						<!-- /Search -->

						<!-- Top Nav -->
						<div class="navbar-collapse nav-main-collapse collapse">
							<nav class="nav-main">
                
    <ul class="nav nav-pills nav-main" id="topMain">
        <li>
            <a href="index.html">HOME <span>welcome</span></a>
        </li>

        <li>
            <a href="shopcomingsoon.html">SHOP <span>Products</span></a>
        </li>

        <li>
            <a href="events.html">EVENTS <span>Bookings</span></a>
        </li>

        <li>
            <a href="#">COURSES <span>Deliver 2TR</span></a>
        </li>

        <li>
            <a href="#">VENUES <span>Centre Finder</span></a>
        </li>

        <li>
            <a href="corporate.html">CORPORATE <span>Franchise</span></a>
        </li>

        <li>
            <a href="contact.html">CONTACT <span>write us</span></a>
        </li>
    </ul>
							</nav>
						</div>
						<!-- /Top Nav -->

					</div><!-- /.container -->
				</header>
				<!-- /Top Nav -->

			</div>
